* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
    --secondary-color:#283618;
    --header-color: #606c38; 
    --text-color-principal:#fefae0;
      
}






/*------ cabeçalho de navegação ------*/
header{
    display: flex;
    background-color: var(--secondary-color);
    margin: 0; /*Sem margens*/
    max-width: 1400px; ;/*Expandem ao maximo para melhor parecer um cabeçalho ocupando o maximo a esquerda e direita*/
    
    
}

#tmenu{
    font-size: 2rem; /* aumenta o tamanho da fonte */
    font-weight: bold; /* deixa em negrito */
    color: var(--text-color-principal); /* mantém o contraste */
    margin: 0 auto; /* centraliza se possível */
    padding: 1rem;
    margin-left: 1rem;      /* joga ele um pouco pra dentro da esquerda */
    max-width: 600px;       /* opcional: controla até onde ele pode crescer */
}



nav {
    display: flex;
    background-color: var(--secondary-color);
    margin: 0; /*Sem margens*/
    max-width: 1400px; ;/*Expandem ao maximo para melhor parecer um cabeçalho ocupando o maximo a esquerda e direita*/
    justify-content: center;
    
}

nav ul{
    display: flex;
    list-style-type: none;/*Esse comando diz pro navegador:
                            “Não mostre os pontinhos (•) na frente dos itens da lista.*/

    /*justify-content: center; ---->*/  /*"Center"Faz com que os "a" fiquem centralizidados(justificado ao centro) mas...*/

    justify-content: space-around;/*faz com que ele se centralize ocupando uniformemente o espaço ao redor*/
    
   
}

nav a{
    display: block;
    color: var(--text-color-principal);
    text-align: center;
    padding: 1rem; /*padding é o espaço interno de um elemento, 
                     ou seja, o "acolchoamento" entre o conteúdo 
                     e a borda do elemento.*/

    text-decoration: none; /*Esse comando diz pro navegador:
                             Retire as linhas sublinhadas*/
}

nav a:hover{/* estilo quando o usuário passa o mouse por cima do link*/
    border: 1px solid #ffffff4a;


}





/*---- corpo do site --------*/










body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

}

h1{
    display: grid;
    background-color: var(--primary-head);
    color: #ffffffda;
    margin: 0; /*Sem margens*/
    max-width: 1400px; ;/*Expandem ao maximo para melhor parecer um cabeçalho ocupando o maximo a esquerda e direita*/
    font-size: 18px;
    text-align: center;
    
}

main{
    display: grid;
    
    max-width: 1400px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
  gap: 1rem; /* espaço entre as imagens */
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto; /* centraliza a galeria */
}

.gallery img.foto{

  width: 100%;
  height: 100%;
  object-fit: cover; /* a imagem preenche o quadrado sem distorcer */
  display: block;
  border-radius: 8px;
}


figure {
    display: flex;
    flex-direction: column; /* coluna: imagem em cima, legenda embaixo */
    margin: 0.1rem;
    padding: 0;
}




/*_________________//___________________*/

footer{
    background-color: #283618;
    color: var(--text-color-principal);
    text-align: center;
    padding: 1rem 0;
     max-width: 1400px;       /* opcional: controla até onde ele pode crescer */


    
}



footer p {
    margin: 0.3rem 0;
}